@{
    ViewBag.Title = "Courses";
}
<div id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover m-b-0">
                <div class="card-img-top img-fluid bg-cover height-100" style="background: #E3EBF3"></div>
                <div class="media profil-cover-details w-100">
                    <div class="media-body pt-5 px-2">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title m-b-0" style="font-size: 1.4rem;"><span class="alert bg-success p-t-3 p-b-3 font-small-3 position-relative position-tm-3"></span></h3>
                                <div></div>
                            </div>

                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-profile align-self-end m-r-30">
                    <div id="navigation">
                        <ul>
                            <li class="has-sub active">
                                <a>Personal Details</a>
                                <ul>
                                    <li><a class="details" href="javascript:;">Particulars</a></li>
                                    <li><a class="addressdetails" href="javascript:;">Address</a></li>
                                    <li><a class="Bankdetails" href="javascript:;">Bank Details</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a>Documents</a>
                                <ul>
                                    <li><a class="license" href="javascript:;">License</a></li>
                                    <li><a class="courses" href="javascript:;">Courses</a></li>
                                    <li><a class="otherDocuments" href="javascript:;">Other Documents</a></li>
                                </ul>
                            </li>
                            <li><a class="crewtraveldoc" href="javascript:;">Travel Documents</a></li>
                            @*<li class="icon" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Activity Log" data-original-title="" title=""><a href=""><i class="fa fa-file" aria-hidden="true"></i></a></li>*@
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  navbar-dark">
                <h5 class="modal-title">
                    <img class="brand-logo" alt="stack admin logo" src="app-assets/images/logo/Crewlink-logo-light.png">
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@*Particulars*@
<script type="text/javascript">
    $(function () {
        $("#navigation .details").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Details",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Address*@
<script type="text/javascript">
    $(function () {
        $("#navigation .addressdetails").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Address",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Bankdetails*@
<script type="text/javascript">
    $(function () {
        $("#navigation .Bankdetails").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Bankdetails",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*License*@
<script type="text/javascript">
    $(function () {
        $("#navigation .license").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/License",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*OtherDocuments*@
<script type="text/javascript">
    $(function () {
        $("#navigation .otherDocuments").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/OtherDocuments",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Crewtraveldoc*@
<script type="text/javascript">
    $(function () {
        $("#navigation .crewtraveldoc").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Crewtraveldoc",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

<!-- / main menu-->
<div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-10 m-t-5">Courses</h4>
            </div>
            <div class="col-xl-6 col-lg-12 nopl">
            </div>
        </div>
        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-lg-12 col-md-12 col-12">
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div id="goal-list-scroll" class="table-responsive position-relative">
                                <table class="table table-hover table-bordered mb-0 crew-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Course Type</th>
                                            <th>Course</th>
                                            <th>Certificate No</th>
                                            <th>Place of Issue</th>
                                            <th>Issue Date</th>
                                            <th>Expiry Date</th>
                                            <th>Training Institue</th>
                                            <th>Authority</th>
                                            <th>Lim. Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Value Added</td>
                                            <td>Personal Safety and Social Responsibilities</td>
                                            <td>BPMA/PSSR/5499/99</td>
                                            <td>Navi Mumbai</td>
                                            <td>27-Nov-99</td>
                                            <td>Unlimited</td>
                                            <td>BP Marine Academy</td>
                                            <td>Directorate General of Shipping</td>
                                            <td>Nil</td>
                                            @*<td><i class="fas fa-edit m-r-10" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit" aria-hidden="true"></i> <i class="fa fa-archive" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Archive" aria-hidden="true"></i></td>*@
                                        </tr>
                                        <tr>
                                            <td>Value Added</td>
                                            <td>PSCRB other than Fast Rescue Boats</td>
                                            <td>BPMA/PSCRB-RF/17/2012</td>
                                            <td>Navi Mumbai</td>
                                            <td>31-Jul-12</td>
                                            <td>30-Jul-17</td>
                                            <td>BP Marine Academy</td>
                                            <td>Directorate General of Shipping</td>
                                            <td>Nil</td>
                                            @*<td><i class="fas fa-edit m-r-10" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit" aria-hidden="true"></i> <i class="fa fa-archive" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Archive" aria-hidden="true"></i></td>*@
                                        </tr>
                                        <tr>
                                            <td>STCW-Basic</td>
                                            <td>Ship Security Officers</td>
                                            <td>BPMA/SSO-RF/473/2018</td>
                                            <td>Navi Mumbai</td>
                                            <td>31-May-18</td>
                                            <td>Unlimited</td>
                                            <td>BP Marine Academy</td>
                                            <td>Directorate General of Shipping</td>
                                            <td>Nil</td>
                                            @*<td><i class="fas fa-edit m-r-10" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit" aria-hidden="true"></i> <i class="fa fa-archive" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Archive" aria-hidden="true"></i></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>