
@{
    ViewBag.Title = "Details";
}
<div id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover m-b-0">
                <div class="card-img-top img-fluid bg-cover height-100" style="background: #E3EBF3"></div>
                <div class="media profil-cover-details w-100">
                    <div class="media-body pt-5 px-2">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title m-b-0" style="font-size: 1.4rem;">Amarjit Singh Banka <span class="alert bg-success p-t-3 p-b-3 font-small-3 position-relative position-tm-3">On Board</span></h3>
                                <div>Master | BAKERLOO</div>
                            </div>

                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-profile align-self-end m-r-30">
                    <div id="navigation">
                        <ul>
                            <li class="has-sub active">
                                <a href="">Personal Details</a>
                                <ul>
                                    <li><a class="details" href="javascript:;">Particulars</a></li>
                                    <li><a class="addressdetails" href="javascript:;">Address</a></li>
                                    <li><a class="Bankdetails" href="javascript:;">Bank Details</a></li>

                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="">Documents</a>
                                <ul>
                                    <li><a class="license" href="javascript:;">License</a></li>
                                    <li><a class="courses" href="javascript:;">Courses</a></li>
                                    <li><a class="otherDocuments" href="javascript:;">Other Documents</a></li>
                                </ul>
                            </li>
                            <li><a class="crewtraveldoc" href="javascript:;">Travel Documents</a></li>

                            <li class="icon" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Activity Log" data-original-title="" title=""><a href=""><i class="fa fa-file" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header  navbar-dark">
                <h5 class="modal-title">
                    <img class="brand-logo" alt="stack admin logo" src="app-assets/images/logo/Crewlink-logo-light.png">
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@*Address*@
<script type="text/javascript">
    $(function () {
        $("#navigation .addressdetails").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Address",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Particulars*@
<script type="text/javascript">
    $(function () {
        $("#navigation .details").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Details",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Bankdetails*@
<script type="text/javascript">
    $(function () {
        $("#navigation .Bankdetails").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Bankdetails",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*License*@
<script type="text/javascript">
    $(function () {
        $("#navigation .license").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/License",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Courses*@
<script type="text/javascript">
    $(function () {
        $("#navigation .courses").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Courses",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*OtherDocuments*@
<script type="text/javascript">
    $(function () {
        $("#navigation .otherDocuments").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/OtherDocuments",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>

@*Crewtraveldoc*@
<script type="text/javascript">
    $(function () {
        $("#navigation .crewtraveldoc").click(function () {
            var customerId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Home/Crewtraveldoc",
                data: '{customerId: "' + customerId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>


<!-- / main menu-->
<div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="col-xl-6 col-lg-12">
                <h4 class="content-header-title m-b-10 m-t-5"> Particulars</h4>
            </div>
            <div class="col-xl-6 col-lg-12 nopl">
            </div>
        </div>
        <div class="content-body">
            <div class="row match-height" id="switch">
                <div class="col-lg-12 col-md-12 col-12">

                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Personal Details</h4>
                                </div>

                                <div class="col-xl-6 col-lg-12">
                                    <div class="float-right">
                                        <button class="btn btn-success form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Download CV"><i class="fas fa-download" aria-hidden="true"></i> CV</button>
                                        <button class="btn btn-success form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Download PD"><i class="fas fa-download" aria-hidden="true"></i> PD</button>
                                        <button class="btn btn-primary form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit Profile"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                        <button class="btn btn-red form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="NTBR / In-Active"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-0">


                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th width="13.3%">Nationality</th>
                                                <td width="20%">Indian</td>
                                                <th width="13.3%">Date of Birth</th>
                                                <td width="20%">28-Dec-70 (49 y)</td>
                                                <th width="13.3%">Place Of Birth</th>
                                                <td width="20%">Lonavala</td>
                                            </tr>
                                            <tr>
                                                <th>Passport No</th>
                                                <td>NA</td>
                                                <th>Seaman Book No</th>
                                                <td>MUM79821</td>
                                                <th>INDOS No</th>
                                                <td>----</td>
                                            </tr>
                                            <tr>
                                                <th>Civil Status</th>
                                                <td>Married</td>
                                                <th>Gender</th>
                                                <td>Male</td>
                                                <th>English Fluency</th>
                                                <td>Good</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Physical Info</h4>
                                </div>

                                <div class="col-xl-6 col-lg-12">
                                    <div class="float-right">
                                        <button class="btn btn-primary form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit Profile"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th width="13.3%">Height (cms)</th>
                                                <td width="20%">172</td>
                                                <th width="13.3%">Weight(kg)</th>
                                                <td width="20%">82</td>
                                                <th width="13.3%">BMI</th>
                                                <td width="20%" class="text-white bg-amber bg-accent-4">27</td>
                                            </tr>
                                            <tr>
                                                <th>Hair Color</th>
                                                <td>Black</td>
                                                <th>Eye Color</th>
                                                <td>Black</td>
                                                <th>Distinguish Mark</th>
                                                <td>----</td>
                                            </tr>
                                            <tr>
                                                <th>Shoes Size (UK)</th>
                                                <td>11</td>
                                                <th>Boiler Suit size</th>
                                                <td>XL</td>
                                                <th>Shirt Size (inch)</th>
                                                <td>36</td>
                                            </tr>
                                            <tr>
                                                <th>Trouser Size (inch)</th>
                                                <td>28</td>
                                                <th>&nbsp;</th>
                                                <td>&nbsp;</td>
                                                <th>&nbsp;</th>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </section>
                    <section id="descriptioin" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <h4 class="card-title p-t-5 proper-case">Employement Information</h4>
                                </div>

                                <div class="col-xl-6 col-lg-12">
                                    <div class="float-right">
                                        <button class="btn btn-primary form-small p-t-3 p-b-3 m-r-5" type="button" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Edit Profile"><i class="fas fa-edit" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th width="13.3%">Employee No</th>
                                                <td width="20%">A2594</td>
                                                <th width="13.3%">Rank Applied</th>
                                                <td width="20%">Master</td>
                                                <th width="13.3%">Applied on</th>
                                                <td width="20%">04-Apr-19</td>
                                            </tr>
                                            <tr>
                                                <th>Rank Posted</th>
                                                <td>Master</td>
                                                <th>First Join Date</th>
                                                <td>10-Dec-18</td>
                                                <th>Last on Board Vessel</th>
                                                <td>Seymour</td>
                                            </tr>
                                            <tr>
                                                <th>Manning Office</th>
                                                <td>Mumbai</td>
                                                <th>Zone</th>
                                                <td>Delhi</td>
                                                <th>Pool</th>
                                                <td>ASM pool</td>
                                            </tr>
                                            <tr>
                                                <th>Date of Availability</th>
                                                <td>07-Jun-19</td>
                                                <th>Category</th>
                                                <td>----</td>
                                                <th>&nbsp;</th>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>