@{
    ViewBag.Title = "ImportExportPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content fixed-navbar-inner">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="split left border">
                <div class="centered">
                    @using (Html.BeginForm("ImportData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
                        <h4 class="content-header-title m-b-10 m-t-5">
                            Import
                        </h4>
                    <br />
                    <br />
                    <h3 class="text-dark">
                        @Html.TextBox("file", "", new { type = "file" , accept = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" }) <br />
                        <br />
                        <input type="submit" class="btn btn-dark" value="Upload" />
                    </h3>
                    <br />

                    @*<h3 class="text-dark">Download Excel Sheet&nbsp; <i class="fas fa-print"></i></h3>*@
                    @*<a asp-controller="Home" asp-action="ImportData" class="btn btn-dark" style="width:100px;" type="button">Import Data</a>*@

                    }
                </div>
                </div>
            <div class="split right">
                <div class="centered">
                    <h4 class="content-header-title m-b-10 m-t-5">
                        Export&nbsp;
                    </h4>
                    <br />
                    <br />
                    <div>
                        <a asp-controller="Home" asp-action="Takebackup" title="Download Excel">
                            <h3 class="text-dark">Download Excel Sheet&nbsp; <i class="fas fa-print"></i></h3>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<style>
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .left {
        left: 0;
    }

    /* Control the right side */
    .right {
        right: 0;
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>








@*<script type="text/javascript">
    $(function () {
        $("#impBtn").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/Takebackup",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            })
            
        })
    })
</script>*@