<!DOCTYPE html>

<!-- / main menu-->

<div class="app-content content">
    <div class="content-wrapper">
        <section class="section team-section">
            <h4 class="card-title p-t-5 proper-case">Change Password</h4>
            <p class="small">
                Mandatory Fields are sign with asterisk(*). Password must Contain atleast8 characters.
                It must Contain upper & lower letters and digits.
            </p>
            
                <fieldset class="form-group">
                    <label>Enter Old Password</label>
                    <input type="password" class="form-control" id="oldpwd" placeholder="Enter old Password"
                           required autocomplete="off">
                    <div class="form-control-position">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Enter New Password</label>
                    <input type="password" class="form-control" id="newpwd" placeholder="Enter New Password"
                           required autocomplete="off">
                    <div class="form-control-position">

                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Enter Confirm Password</label>
                    <input type="password" class="form-control" id="crfmpwd" placeholder="Enter Confirm Password"
                           required autocomplete="off">
                    <div class="form-control-position">

                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary" asp-action="vwCrewList">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-primary" onclick="exported()">Confirm</button>

        </section>
    </div>
</div>
<script>
         function exported(e) {
             window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "Changepassword" })/?oldpwd=" + $("#oldpwd").val() + "&newpwd=" + $("#newpwd").val() + "&crfmpwd=" + $("#crfmpwd").val();
           }

</script>
<div class="sidenav-overlay"></div>














