<!DOCTYPE html>
<div class="app-content content fixed-navbar-inner">
    <div class="content-wrapper">
        <div class="content-header row"> </div>
        <div class="content-detached content-right">
            <div class="content-body" style="position: relative; z-index: 1" id="tblVessels">
                <!-- Description -->
                <table width="100%" id="exportTable">
                    <tr>
                        <td style="padding-top: 0 !important;">
                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped" style="border: none !important;">
                                                <tr>
                                                    <th width="100%" valign="top" style="border: none !important;">
                                                        <h5 style="margin: 5px 0; background: none;">
                                                            VESSEL PARTICULARS<span style="float:right;">
                                                                <button class="btn btn-success form-small p-t-3 p-b-3" type="button"
                                                                        data-toggle="tooltip" data-trigger="hover" data-placement="top"
                                                                        data-title="Export to Excel" data-original-title="" title=""
                                                                        (click)="exportVesselParticulars()">
                                                                    <i class="fas fa-file-excel"
                                                                       aria-hidden="true"></i>
                                                                </button>

                                                                <button class="btn btn-danger form-small p-t-3 p-b-3 m-l-5" type="button"
                                                                        data-toggle="tooltip" data-trigger="hover" data-placement="top"
                                                                        data-title="Export to PDF" data-original-title="" title=""
                                                                        (click)="generatePDF(vessel.vesselName)">
                                                                    <i class="fas fa-file-pdf"
                                                                       aria-hidden="true"></i>
                                                                </button>


                                                                <button class="btn btn-primary form-small p-t-3 p-b-3 m-l-5" type="button" data-toggle="popover"
                                                                        title="Help" data-html="true" data-placement="left" [attr.data-content]="pageHelp">
                                                                    <i class="fas fa-question" aria-hidden="true"></i>
                                                                </button>
                                                            </span>
                                                        </h5>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="4"><h4>General Information</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%">Vessel Name</td>
                                                        <td width="25%">&nbsp;</td>
                                                        <td width="25%">Hull No.</td>
                                                        <td width="25%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ex - Names</td>
                                                        <td>&nbsp;</td>
                                                        <td>Keel Laid Date</td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>IMO No.</td>
                                                        <td>&nbsp;</td>
                                                        <td>Launch Date</td>
                                                        <td>
                                                            &nbsp;

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Flag</td>
                                                        <td>&nbsp;</td>
                                                        <td>Delivery Date</td>
                                                        <td> &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Port of Registry</td>
                                                        <td>&nbsp;</td>
                                                        <td>Builder Name</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Call Sign</td>
                                                        <td>&nbsp;</td>
                                                        <td>Takeover Date </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Official No.</td>
                                                        <td>&nbsp;</td>
                                                        <td>Takeover Port </td>
                                                        <td> &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MMSI No.</td>
                                                        <td>&nbsp;</td>
                                                        <td>Handover Date </td>
                                                        <td> &nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Vessel Short Code</td>
                                                        <td>&nbsp;</td>
                                                        <td>Handover Port </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ship Type</td>
                                                        <td>&nbsp;</td>
                                                        <td>Operating Area</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Principal Dimensions</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">LOA</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>LBP</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Breadth (Extreme)</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Depth (Molded)</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Height (Maximum)</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bridge Front - BOW</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bridge Front - Stern</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Communication</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Vessel E-mail</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone No. 1</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone No. 2</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone No. 3</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mobile No.</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Owners</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Registered Owner</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Disponent Owner</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Managers</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Technical Manager</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Crewing Manager</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Classification</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Classification Society</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Class No.</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Class Notation</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ice Class</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Insurance</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">P &amp; I Club</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>H&amp;M</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Qualified Individual</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Tonnage</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">NRT</td>
                                                        <td width="50%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>GRT</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>DWT</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="4"><h4>Machinery</h4></th>
                                                    </tr>
                                                    <tr style="color: #000000; background: #F0F0F0">
                                                        <th colspan="4"><h4>Main Engine</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Make</td>
                                                        <td colspan="3">&nbsp;  </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td colspan="3">&nbsp; </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td colspan="3">&nbsp;
                                                    </tr>
                                                    <tr>
                                                        <td>M.C.R. KW</td>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Main Engines</td>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CPP</td>
                                                        <td colspan="3">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr><td colspan="4">&nbsp;</td></tr>
                                                    <tr style="color: #000000; background: #F0F0F0">
                                                        <th colspan="4"><h4>Auxiliary Engine</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <th width="50%">&nbsp;</th>
                                                        <th width="16.6%">No. 1</th>
                                                        <th width="16.6%">No. 2</th>
                                                        <th width="16.6%">No. 3</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Make</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr><td colspan="4">&nbsp;</td></tr>
                                                    <tr style="color: #000000; background: #F0F0F0">
                                                        <th colspan="4">Boilers</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Make</td>
                                                        <td colspan="3">&nbsp;</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>No of Boilers</td>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr *ngIf="vessel.shipType.type.includes('Bulk') ==false">
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Other Equipments</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%">&nbsp;</td>
                                                        <td width="25%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Cargo Tanks</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Tanks</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Coating</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Cargo Pumps</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No of Pumps</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type of Pumps</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Capacity of Pumps</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Ballast Pumps</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Pumps</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type of Pumps</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ballast Eductor</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr *ngIf="vessel.shipType.type.includes('Bulk') == true">
                                        <td>
                                            <table width="100%" class="table table-bordered mb-0 crew-table table-striped">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="2"><h4>Other Equipments</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%">&nbsp;</td>
                                                        <td width="25%">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Cargo Holds</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Holds</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td><strong>Cargo Cranes</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Make</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Capacity </td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Cranes</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Grabs</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Make</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Capacity</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of Grabs</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tbody>
                                                    <tr style="color: #000; background: #E3EBF3">
                                                        <th colspan="4"><h4>ECDIS</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <th width="25%">&nbsp;</th>
                                                        <th width="25%">ECDIS 1</th>
                                                        <th width="25%">ECDIS 2</th>
                                                        <th width="25%">ECDIS 3</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Maker</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Model</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sidebar-detached sidebar-left sidebar-sticky">
            <div class="sidebar">
                <div class="sidebar-content card d-none d-lg-block">
                    <div class="card-body">
                        <div class="slider-sm slider-success my-1" id="small-slider"></div>
                        <div class="text-center">
                            @*<img *ngIf="vessel.vesselImage!=null" class="card-img-top mb-1 img-fluid" [src]="~/Fleet-Bakerloo.jpg">*@
                            <img *ngIf="vessel.vesselImage==null" class="card-img-top mb-1 img-fluid" style="width: 120px;" src="~/Images/vessel-pic.jpg">
                        </div>
                        <h4 class="card-title" style="text-align: center;">Vessel Details</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Delivery date</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Dwt</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Flag</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>IMO</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th>Class</th>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



