/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Regular'), url('/fonts/Lato-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Lato Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Italic'), url('/fonts/Lato-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Lato Hairline';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Hairline'), url('/fonts/Lato-Hairline.woff') format('woff');
}


@font-face {
    font-family: 'Lato Hairline Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Hairline Italic'), url('/fonts/Lato-HairlineItalic.woff') format('woff');
}


@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Light'), url('/fonts/Lato-Light.woff') format('woff');
}


@font-face {
    font-family: 'Lato Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Light Italic'), url('/fonts/Lato-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Bold'), url('/fonts/Lato-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Lato Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Bold Italic'), url('/fonts/Lato-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Lato Black';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Black'), url('/fonts/Lato-Black.woff') format('woff');
}


@font-face {
    font-family: 'Lato Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Black Italic'), url('/fonts/Lato-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('/fonts/Montserrat-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Italic'), url('/fonts/Montserrat-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin'), url('/fonts/Montserrat-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin Italic'), url('/fonts/Montserrat-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight'), url('/fonts/Montserrat-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight Italic'), url('/fonts/Montserrat-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light'), url('/fonts/Montserrat-Light.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light Italic'), url('/fonts/Montserrat-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium'), url('/fonts/Montserrat-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium Italic'), url('/fonts/Montserrat-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold'), url('/fonts/Montserrat-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold Italic'), url('/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold'), url('/fonts/Montserrat-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold Italic'), url('/fonts/Montserrat-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold'), url('/fonts/Montserrat-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold Italic'), url('/fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Black';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black'), url('/fonts/Montserrat-Black.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black Italic'), url('/fonts/Montserrat-BlackItalic.woff') format('woff');
}